<h1><%= @article.title %>
  <p><%= @article.body %></p>

  <%= link_to "edit",edit_article_path(@article) %>
  <%= link_to "delete",article_path(@article) ,method: :delete,data: {confirm: "Really delete the article?"} %>
  <%= render partial: 'comments/form' %>
  <%= link_to "Back to list",articles_path %>
  <h3>Comments List (<%= @article.comments.size %>) </h3>
  <%= render partial: "articles/comment", collection:@article.comments %>